@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

body {
  margin: 0;
  padding: 0;
  background: url(writing.jpeg) no-repeat;
  background-size: cover;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.animate-color {
  animation: changeColor 3s ease-in-out infinite;
}

.item1 {
  --color-1: #ffecb3;
  --color-2: #ef5350;
  --color-3: #ffb300;
}

.item2 {
  --color-1: #f44336;
  --color-2: #ffa000;
  --color-3: #ffe082;
}

.item3 {
  --color-1: #ffd54f;
  --color-2: #ff8f00;
  --color-3: #e53935;
}

.item4 {
  --color-1: #ff6f00;
  --color-2: #ffca28;
  --color-3: #d32f2f;
}

@keyframes changeColor {
  0% {
    color: var(--color-1);
  }
  20% {
    color: var(--color-1);
  }
  25% {
    color: var(--color-2);
  }
  30% {
    color: var(--color-1);
  }
  45% {
    color: var(--color-2);
  }
  50% {
    color: var(--color-3);
  }
  95% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

img {
  height: 10vh;
  width: 100vw;
}
