.c-image1 {
  height: 60vh;
  width: 80vw;
  background-image: url("character1.jpg");
  background-repeat: no-repeat;
  animation: changePic1 16s linear infinite 4s;
}
@keyframes changePic1 {
  0% {
    background-image: url("character2.jpg");
    opacity: 0;
  }
  5% {
    background-image: url("character2.jpg");
    opacity: 0.5;
  }
  10% {
    background-image: url("character2.jpg");
    opacity: 1;
  }
  15% {
    background-image: url("character2.jpg");
    opacity: 0.5;
  }
  20% {
    background-image: url("character2.jpg");
    opacity: 0;
  }
  /*2. Bild groß */
  21% {
    background-image: url("character3.jpg");
    opacity: 0;
  }
  25% {
    background-image: url("character3.jpg");
    opacity: 0.5;
  }
  30% {
    background-image: url("character3.jpg");
    opacity: 1;
  }
  35% {
    background-image: url("character3.jpg");
    opacity: 0.5;
  }
  40% {
    background-image: url("character3.jpg");
    opacity: 0;
  }
  /*3. Bild klein */
  41% {
    background-image: url("character4.jpg");
    opacity: 0;
  }
  45% {
    background-image: url("character4.jpg");
    opacity: 0.5;
  }
  50% {
    background-image: url("character4.jpg");
    opacity: 1;
  }
  55% {
    background-image: url("character4.jpg");
    opacity: 0.5;
  }
  60% {
    background-image: url("character4.jpg");
    opacity: 0;
  }
  /*4. Bild groß */
  61% {
    background-image: url("character5.jpg");
    opacity: 0;
  }
  65% {
    background-image: url("character5.jpg");
    opacity: 0.5;
  }
  70% {
    background-image: url("character5.jpg");
    opacity: 1;
  }
  75% {
    background-image: url("character5.jpg");
    opacity: 0.5;
  }
  80% {
    background-image: url("character5.jpg");
    opacity: 0;
  }
  /*5. Bild klein */
  81% {
    background-image: url("character6.jpg");
    opacity: 0;
  }
  85% {
    background-image: url("character6.jpg");
    opacity: 0.5;
  }
  90% {
    background-image: url("character6.jpg");
    opacity: 1;
  }
  95% {
    background-image: url("character6.jpg");
    opacity: 0.5;
  }
  100% {
    background-image: url("character6.jpg");
    opacity: 0;
  }
}

.c-image2 {
  height: 60vh;
  width: 80vw;
  background-image: url("character1.jpg");
  background-repeat: no-repeat;
  animation: changePic2 18s linear infinite 4s;
}
@keyframes changePic2 {
  0% {
    background-image: url("character7.jpg");
    opacity: 0;
  }
  5% {
    background-image: url("character7.jpg");
    opacity: 0.5;
  }
  10% {
    background-image: url("character7.jpg");
    opacity: 1;
  }
  15% {
    background-image: url("character7.jpg");
    opacity: 0.5;
  }
  20% {
    background-image: url("character7.jpg");
    opacity: 0;
  }
  /*2. Bild groß */
  21% {
    background-image: url("character8.jpg");
    opacity: 0;
  }
  25% {
    background-image: url("character8.jpg");
    opacity: 0.5;
  }
  30% {
    background-image: url("character8.jpg");
    opacity: 1;
  }
  35% {
    background-image: url("character8.jpg");
    opacity: 0.5;
  }
  40% {
    background-image: url("character8.jpg");
    opacity: 0;
  }
  /*3. Bild klein */
  41% {
    background-image: url("character9.jpg");
    opacity: 0;
  }
  45% {
    background-image: url("character9.jpg");
    opacity: 0.5;
  }
  50% {
    background-image: url("character9.jpg");
    opacity: 1;
  }
  55% {
    background-image: url("character9.jpg");
    opacity: 0.5;
  }
  60% {
    background-image: url("character9.jpg");
    opacity: 0;
  }
  /*4. Bild groß */
  61% {
    background-image: url("character10.jpg");
    opacity: 0;
  }
  65% {
    background-image: url("character10.jpg");
    opacity: 0.5;
  }
  70% {
    background-image: url("character10.jpg");
    opacity: 1;
  }
  75% {
    background-image: url("character10.jpg");
    opacity: 0.5;
  }
  80% {
    background-image: url("character10.jpg");
    opacity: 0;
  }
  /*5. Bild klein */
  81% {
    background-image: url("character11.jpg");
    opacity: 0;
  }
  85% {
    background-image: url("character11.jpg");
    opacity: 0.5;
  }
  90% {
    background-image: url("character11.jpg");
    opacity: 1;
  }
  95% {
    background-image: url("character11.jpg");
    opacity: 0.5;
  }
  100% {
    background-image: url("character11.jpg");
    opacity: 0;
  }
}
